body {
  margin: 0;
  padding: 0;
  background-color: rgba(156, 193, 204, 0.26);

  .spotim-header {
    text-align: center;
    background-color: #0082DD;
    height: 150px;
    padding: 20px;
    color: white;
    .spotim-title {
      font-size: 1.5em;
    }
  }

}

.message-creation-container {
  background-color: #ddd;
  padding: 10px;
  height: 80px;
  .message-creation-inputUserName {
    margin-top: 20px;
    margin-right: 7px;
  }
  .message-creation-inputText {
    width: 72%;
    margin-right: 7px;
  }
}

.message-list-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  height: 550px;
}
.your-message {
  background-color: #cdcdb1;
}

.other-message {
  background-color: #e6faff;
}





